body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./background.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }
  header {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;
  }
  .logo {
    width: 105px;
    height: 100px;
    margin: 3% 10%;
  }
  nav {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 15px;
    margin-right: 25px;
  }
  nav > a {
    margin: auto;
    height: auto;
    width: 15%;
    color: #537E9D
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    border-radius: 10px;
    background: transparent;
    border: 2px solid white;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .has-border {
    border-radius: 10px;
    border: 2px solid #537E9D;
    background: none;
    padding: 10px 10px;
  }
  main {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
  }
  #profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 20%;
    margin: 30px auto;
    grid-column: 2/3;
  }
  h1 {
    color:#537E9D;
    grid-column: 2/3;
    margin: 3% auto;
    border-bottom: 2px solid #1940A9;
    text-shadow: 5px rgb(105, 120, 161);
  }
  h2 {
    color:#537E9D;
    grid-column: 2/3;
    margin: 3% auto;
    font-style: italic;
    flex-wrap: nowrap;
  }
  .small-text {
    grid-column: 2/3;
    color: #BBF6FB;
    font-size: 10px;
    margin: 3% auto;
  }
  button {
    grid-column: 2/3;
    margin: 3% auto;
    width: 70%;
    height: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130%;
    border-radius: 23px;
    background: solid;
    background-color: #537E9D;
    padding: 10px;
    padding-bottom: 10%;
    text-align: center;
    color: rgb(255, 255, 255);
    letter-spacing: 10px;
    font-style: italic;
    
  }
.has-border:link, .has-border:visited {
  background-color: transparent;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.has-border:hover, .has-border:active {
  background-color: #537E9D;
  color: white;
}